<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Review Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="table-users">
   <div class="header">Result</div>
         <table>
          <thead>
            {%- for data in result %}
            <th> {{ data[0] }}</th>
            {%- endfor %}
          </thead>
             <tbody>
                {% for row in result1 %}
                <tr>
                {% for i in row %}
                    <td>{{i}}</td>
                {% endfor %}
                </tr>
                {% endfor %}
    </tbody>

</div>
</body>
</html>
